auto-install-peers=true
# https://pnpm.io/npmrc#link-workspace-packages
link-workspace-packages=true
prefer-workspace-packages=true
shared-workspace-lockfile=true
# https://pnpm.io/npmrc#save-workspace-protocol
save-workspace-protocol='rolling'
save-prefix='^'
